@import "tailwindcss";
/* Smooth theme transition */
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark Mode Styles */
.dark {
  background-color: #121212;
  color: #ffffff;
}

/* Light Mode Styles */
.light {
  background-color: #ffffff;
  color: #000000;
}
